body {
  display: block;
  padding: 75px 0 50px 0;  
  font: normal 20px Helvetica, Arial, sans-serif;
  background-image: url("../../assets/bg_body.gif");
}

header h1 {
  text-align: center;
}

header img {
  margin: 20px 0;  
}

main {
  padding: 75px 0 0 0;
  margin: 0 auto;
  display: block;
  width: 1000px;
  background-color: white;
  text-align: center;  
}

article {
  padding: 0 110px 100px 110px;
}

main h2 {
  font-size: 36px;
}

h3 {
  color: blue;
  font-size: 26px;
}

footer {
  padding: 10px 0;
  background-color: gray;
}

li {
  text-align: center;
  padding-right: 15%;
  display: inline-block;
}





