/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:    Tantek Celik, Shane Riley
    Version:    (CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:  Resets default styling of common browsers to a common base
----------------------------------------
*/

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }
mark {
  color: inherit;
  background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

body {
  color: #193441;
  font: normal 18px 'Roboto Condensed', sans-serif;
  background-image: linear-gradient(to bottom, #d2dbbd, #fcfff5);
  background-repeat: no-repeat;
}

header {
  padding: 20px 20px 0 20px;
  width: 920px;
  margin: 0 auto;
}

h1 {
  float: left;
  font-size: 36px;
  font-weight: normal;
  color: #193441;
  padding: 45px 0 15px 115px;
  background: transparent url("logo.png") 0 0 no-repeat;
}

h2 {
  padding: 14px 0 32px 29px;
  font-size: 32px;
  color: #3e606f;
  font-weight: normal;
}

nav {
  float: right;
  padding-top: 75px;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px 40px 14px 40px;
  color: #91aa9d;
  text-decoration: none;
  background: #fcfff5;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

nav a.active {
 color: #fcfff5;
 background: #91aa9d;
}

main {
  box-shadow: 0 5px 5px #b5b5b5;
  overflow: auto;
  clear: both;
  background: white;
  margin: 0 auto 10px auto;
  width: 960px;
}

main p {
  padding: 0 37px 22px 30px;
  color: #3e606f;
}

img {
  padding: 30px
}

#img-float {
  padding: 0 37px 48px 30px;
  float: right;
}

footer {
  font-size: 14px;
  width: 960px;
  margin: 0 auto;
  padding-bottom: 37px;
}
